body {
    background-color: white;
    color: black;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 20px;
}

.back-button {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ffccd5; /* Helles Rosa Hintergrund */
    color: #000000; /* Schwarzer Text */
    border: none;
    padding: 8px 12px;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
}

.back-button:hover {
    background-color: #ffb3ba; /* Etwas dunkleres Rosa bei Hover */
}


.container {
    background-color: #2E0854; /* Dunkles Lila */
    color: white;
    margin: auto;
    padding: 20px;
    border-radius: 15px;
    max-width: 600px;
    box-shadow: 0 0 8px #FFC0CB; /* Rosa Akzent mit kleinem Abstand */
    border: 5px solid #FFC0CB; /* Dickere rosa Umrandung */
}

label, input, select, button {
    display: block;
    margin: 10px auto;
    width: calc(100% - 40px);
    max-width: 500px;
    text-align: left;
}

input, select {
    padding: 10px;
    font-size: 16px;
    border: 5px solid #FFC0CB; /* Hellrosa Akzente */
    border-radius: 5px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #FFC0CB; /* Hellrosa */
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: #2E0854; /* Lila Schrift */
}

button:hover {
    background-color: #FFB6C1; /* Etwas dunkleres Rosa */
}

h1, h3 {
    margin: 20px 0;
}

.metrics {
    margin-top: 20px;
}
